footer {
  border-top: 1px solid rgba($main-color,.3);
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;

  @include for-mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-brand {
    width: 85%;
    font-size: 1.6rem;
    font-weight: 400;

    @include for-tablet-portrait {
      width: 75%;
    }

    @include for-mobile {
      width: 100%;
      text-align: center;
    }
  }

  .footer-social {
    width: 15%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    @include for-tablet-portrait {
      width: 20%;
    }

    @include for-mobile {
      width: 60%;
      text-align: center;
      justify-content: space-around;
      margin-top: 1vh;
    }

    .social-icon {
      fill: $main-color;
      transition: all 650ms ease-in-out;

      &:hover {
        fill: lighten($main-color, 10%);
      }
    }
  }
}