.home-container {
  max-width: 960px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  &__title-container {
    white-space: pre-wrap;
    position: absolute;
    left: 28%;
    top: 8%;
    z-index: 100;

    @media screen and (max-width: 790px) {
      left: 25.5%;
    }
    @media screen and (max-width: 660px) {
      left: 21%;
    }
    @media screen and (max-width: 600px) {
      left: 22.2%;
    }

    h1 {
      font-family: "Open Sans", sans-serif;
      color: $main-color;
      font-size: 6rem;
      font-weight: 800;
      line-height: 5.2rem;
      text-transform: uppercase;

      @media screen and (max-width: 790px) {
        font-size: 5rem;
        line-height: 4.2rem;
      }

      @media screen and (max-width: 600px) {
        font-size: 4rem;
        line-height: 3.2rem;
      }
    }
  }
  &__image-container {
    position: absolute;
    left: 44%;
    top: 8%;
    img {
      object-fit: cover;
      width: 280px;
      height: auto;

      @media screen and (max-width: 790px) {
        width: 260px;
      }
      @media screen and (max-width: 600px) {
        width: 210px;
      }
    }
  }
  &__info-container {
    width: 45%;
    background-color: rgba($main-color, 0.9);
    color: #f4f4f4;
    position: relative;
    z-index: 100;
    bottom: -170px;
    left: -80px;
    padding: .2rem .4rem;

    @media screen and (max-width: 790px) {
      width: 55%;
      left: -50px;
    }

    @media screen and (max-width: 660px) {
      width: 65%;
      left: -20px;
    }

    @media screen and (max-width: 600px) {
      width: 65%;
      left: -30px;
      bottom: -90px;
    }

    p {
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
      padding: .3rem .8rem;

      @media screen and (max-width: 670px) {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 670px) {
        font-size: 1.4rem;
        padding: .6rem 1rem;
      }
    }
  }
}
