$main-color: #03afc2;
$heading-color: #606060;
$p-color: #5a5a5a;
$meta-color: #a7a7a7;

// previous project
$white: #ffffff;
$gray: #a7a7a7;
$light-gray: #e8e9eb;
$dark-gray: #606060;
$accent: #03afc2;
$dark-blue: #223843;
